# Dynamic Typing

In [1]:
# In python ,no need to declare the integer type since compiler can understand at the time of compiling what data type is assigned to a variable

In [2]:
# here no need to declare data type while creating /declaring the variables

In [3]:
a=100

In [4]:
name='Lucky'

In [5]:
int(1.54)

1

In [7]:
float(100)

100.0

In [8]:
# Compiler automatically understand what data type is assigned.

In [9]:
int() # returns 0 if no argument is present

0

In [10]:
print(123)

123

In [12]:
age=45
print("My age is:",age)

My age is: 45

# f string  : String formatting

In [13]:
# string formatting means writing the variable name inside the string .So by formatting the string that variable will not be considered as a string
# original value of string will be displayed in the string

In [14]:
print(" My age is {age}")

 My age is {age}

In [15]:
print(f"My age is {age}")

My age is 45

# Format string

In [16]:
print("My age is {}".format(age))

My age is 45

In [17]:
name="indra"
age=32
height=150
salary=890000

In [18]:
print("{2} is doing job with salary  {0} and his age is {1} with height {3}".format(salary,age,name,150))

indra is doing job with salary  890000 and his age is 32 with height 150

In [19]:
# we can also use place holders here
print("{na} is doing job with salary  {sal} and his age is {a} ".format(sal=salary,a=age,na=name))

indra is doing job with salary  890000 and his age is 32

In [20]:
print("{} is doing job with salary  {} and his age is {} with height {}".format(name,salary,age,height))

indra is doing job with salary  890000 and his age is 32 with height 150

# control statements
## Decision making statements

In [21]:
lucky_age=23
if lucky_age>=18:
    print("Lucky is eligible to vote")
else:
    print("Lucky is not eligible to vote")

Lucky is eligible to vote

In [22]:
lucky_age=int(input("Enter the age of luucky:"))
if lucky_age>=18:
    print("Lucky is eligible to vote")
else:
    print("Lucky is not eligible to vote")

Enter the age of luucky:24
Lucky is eligible to vote

In [23]:
# by default the input function takes the input as string.so u need to typecast it to int function

In [25]:
age=int(input("Enter the age :"))
if age>=18 and age<=45:
    print("YOUNG")
else:
    print("NOT YOUNG")

Enter the age :56
NOT YOUNG

In [27]:
# price>10000 then 20% discount
# price<=10000 then 10 % discount

In [29]:
price=int(input("Enter the price:"))
if price>10000:
    print("Original price is",0.8*price)
else:
    print("Original price is",0.9* price)

Enter the price:2000
Original price is 1800.0

In [1]:
# price>3000 then 20% discount
# price>=2000 and price<3000 then 10 % discount
# price >=1 and <=2000 then 40 % discount

In [6]:
price=int(input("Enter the price:"))
if price>3000:
    print(f"Original price is {0.8*price}")
elif price>=2000 and price<=3000:
    print(f"Original price is {0.9*price}")
else:
    print(f"Original price is {0.6* price}")

Enter the price:2000
Original price is 1800.0

In [7]:
# price>3000 then 20% discount
# price>=2000 and price<=3000 then 10 % discount and if price==2999 then an additional gift
# price >=1 and <=2000 then 40 % discount

In [9]:
price=int(input("Enter the price:"))
if price>3000:
    print(f"Original price is {0.8*price}")
elif price>=2000 and price<=3000:
    if price==2999: # nested if which means writing if conditions in an condition
        print("Congratulations u got an extra gift")
    print(f"Original price is {0.9*price}")
else:
    print(f"Original price is {0.6* price}")

Enter the price:5678
Original price is 4542.400000000001

# single statements

In [11]:
val=int(input("Enter the value: "))
if (val<50):print("Value is less than 50")
else:print("More than 50")

Enter the value: 5
Value is less than 50