# Dynamic Typing

In [1]:
# In python ,no need to declare the integer type since compiler can understand at the time of compiling what data type is assigned to a variable

In [2]:
# here no need to declare data type while creating /declaring the variables

In [3]:
a=100

In [4]:
name='Lucky'

In [5]:
int(1.54)

1

In [7]:
float(100)

100.0

In [8]:
# Compiler automatically understand what data type is assigned.

In [9]:
int() # returns 0 if no argument is present

0

In [10]:
print(123)

123

In [12]:
age=45
print("My age is:",age)

My age is: 45

# f string  : String formatting

In [13]:
# string formatting means writing the variable name inside the string .So by formatting the string that variable will not be considered as a string
# original value of string will be displayed in the string

In [14]:
print(" My age is {age}")

 My age is {age}

In [15]:
print(f"My age is {age}")

My age is 45

# Format string

In [16]:
print("My age is {}".format(age))

My age is 45

In [17]:
name="indra"
age=32
height=150
salary=890000

In [18]:
print("{2} is doing job with salary  {0} and his age is {1} with height {3}".format(salary,age,name,150))

indra is doing job with salary  890000 and his age is 32 with height 150

In [19]:
# we can also use place holders here
print("{na} is doing job with salary  {sal} and his age is {a} ".format(sal=salary,a=age,na=name))

indra is doing job with salary  890000 and his age is 32

In [20]:
print("{} is doing job with salary  {} and his age is {} with height {}".format(name,salary,age,height))

indra is doing job with salary  890000 and his age is 32 with height 150

# control statements
## Decision making statements

In [21]:
lucky_age=23
if lucky_age>=18:
    print("Lucky is eligible to vote")
else:
    print("Lucky is not eligible to vote")

Lucky is eligible to vote

In [22]:
lucky_age=int(input("Enter the age of luucky:"))
if lucky_age>=18:
    print("Lucky is eligible to vote")
else:
    print("Lucky is not eligible to vote")

Enter the age of luucky:24
Lucky is eligible to vote

# Tuples

In [1]:
t=()

In [2]:
type(t)

tuple

In [3]:
t1=(1,2,3,1.89,567.78,"indra","mahi","raja",1+2j,True)

In [4]:
type(t1)

tuple

In [5]:
t1[1:]

(2, 3, 1.89, 567.78, 'indra', 'mahi', 'raja', (1+2j), True)

In [6]:
t1[::-1]

(True, (1+2j), 'raja', 'mahi', 'indra', 567.78, 1.89, 3, 2, 1)

In [7]:
t1.count(3)

1

In [8]:
t1.count(23)

0

In [9]:
t1.index(1.89) # gives index at where the value is  present

3

In [12]:
t1.index('mahi')

6

In [22]:
print(t1.index(True)) # internally the system stores the value of True as 1 so only it  given the O value
print(t1.count(1)) # here also True is counted as 1 so given 2

0
2

In [15]:
t2=(3,2,1,True) # for True wherever 1 is present it will give that index

In [16]:
t2.index(True)

2

In [19]:
t3=(3,2,"raja",True)  # Since here no 1 is present ,it gives the original index only

In [20]:
t3.index(True)

3

# FUNCTIONS

In [1]:
# Function names shouldn't be any keywords and must follow proper naming convention

In [2]:
def fun1(): # just to create a function 
    pass

In [3]:
def fun2(): # function definition
    print("I am a data scinetist")

In [5]:
fun2() # calling the function

I am a data scinetist

In [6]:
print(fun2())
# fun2() returns None since there is no return statement present in it
# print always return none type

I am a data scinetist
None

In [7]:
# we cannot perform concatenation with functions
fun2()+"Indrasena"

I am a data scinetist

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [8]:
a=print(100) # print returns only none type if any variable is assigned

100

In [10]:
type(a)

NoneType

In [11]:
def fun3(): # this will return the string
    return " I have a return function here"

In [13]:
fun3()+" Able to perform concatenation with string"

' I have a return function here Able to perform concatenation with string'

In [14]:
# It is valid to write multiple values in a return statement

In [15]:
def fun4(): # returns in the form of tuple
    return 1,2,3,4,5

In [16]:
fun4()

(1, 2, 3, 4, 5)

In [17]:
type(fun4())

tuple

In [20]:
a=1,2,3,4,5,6 # a will store all these values in the form of tuple

In [19]:
a

(1, 2, 3, 4, 5, 6)

In [21]:
a,b,c,d=1,2,3,4 #Declaring multiple variables at a time

In [22]:
a,b

(1, 2)

In [23]:
print(a,b,c,d)

1 2 3 4

In [24]:
def fun4(): # returns in the form of tuple
    return 1,2,3,4,5
fun4()[0]

1

In [26]:
fun4()[3] # since it will return in the form of tuples we can able to perform the indexing operations

4

In [27]:
# Return will  always gives the original data format u given in it

In [28]:
# Always try to use return the statement in the functions

In [31]:
a,b,c,d,e=fun4() # unpacking the tuples present in fun4()

In [33]:
def fun5():
    a=8*56+90-456
    return a

In [36]:
fun5()

82

In [35]:
8*56+90-456

82

In [2]:
def add1(a,b,c):
    sum=a+b+c
    return sum
add1(1,2,3)

6

In [3]:
add1("Indra","mahi","raja")

'Indramahiraja'

In [4]:
add1(1,"indra","kajha")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [5]:
# in add1(), it will perform concatenations  for lists or for integers or for the strings but not differernt types at a time

In [6]:
add1([1,2,3],[4,5,6],[7,8,9])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
add1(c=100,b=200,a=90) # we can directly assign values in the calling funtion

390

## create a function which will take list as input and print the final list with all the numeric values in it

In [8]:
l1=[3,4,56,78,90.34,23,45.6,"mahi",True,1+2j]

In [9]:
def fun1(l1):
    num_list=[]
    for i in l1:
        if type(i)==int or type(i)==float:
            num_list.append(i)
    return num_list

In [10]:
fun1(l1)

[3, 4, 56, 78, 90.34, 23, 45.6]

In [11]:
# suppose if any list is present in the list.now create the new funtion for this scenario

In [19]:
l2=[1,2,3,"indra","mahi","kaja",[2,3,4,"ramu","sekhar"],(8,5,3,"jaya")]

In [22]:
def fun2(l2):
    num_list=[]
    for i in l2:
        if type(i)==list or type(i)==tuple:
            for j in i:
                if type(j)==int or type(j)==float:
                    num_list.append(j)
        else:
            if type(i)==int or type(i)==float:
                num_list.append(i)
    return num_list

In [23]:
fun2(l2)

[1, 2, 3, 2, 3, 4, 8, 5, 3]

## create a function which will take any number of functional arguments

In [24]:
def test1(a,b,c,d): # when we want to create a function but we don't want anything in it,just give pass
    pass

In [25]:
test1(1,2,3,4)

In [26]:
test1(3,4,5,6,79,8) # we are giving more number of arguments here

TypeError: test1() takes 4 positional arguments but 6 were given

In [27]:
# we can face such situations where we will pass more number of arguments

# args --> will be useful in such situations

In [30]:
def test1(*args):# this will take any number of arguments
    return args # returns in the form of tuple

In [31]:
test1(1,34,2,56,78,90)

(1, 34, 2, 56, 78, 90)

In [32]:
test1(2)

(2,)

In [33]:
test1(2,3,4,[34,56,78],(67,"indra"))

(2, 3, 4, [34, 56, 78], (67, 'indra'))

In [34]:
# args is  not a keyword .u can put any name for it

In [36]:
def fun2(*indra):
    return indra

In [37]:
fun2(34,56,76,90)

(34, 56, 76, 90)

In [38]:
# how u can define this particular data to the args and this particular to the variable

In [43]:
def test3(*args,a,b): # if u define args first only then while calling function assign variables with values exactly
    return args,a,b

In [40]:
test3(1,2,3,4,5,a=100,b="indra")

((1, 2, 3, 4, 5), 100, 'indra')

In [44]:
def test3(a,b,*args): # if u define args in the end then no need to declare the variables and values in the test3() calling function
    return args,a,b

In [45]:
test3(12,30,'indra',"mahi")

(('indra', 'mahi'), 12, 30)

In [46]:
# create a function which will take multiple arguments and prints out the only lists which are passed as arguments to a function

In [50]:
def test5(*args):
    l3=[]
    for i in args:
        if type(i)==list:
            l3.append(i)
    return l3

In [55]:
test5(1,2,3,[45,65,89],[45,34,23,45],True,1+2j)

## kwargs --> key word arguments

In [52]:
# when u want to use the multiple key word and value arguments then u can use the kwargs inside the function

In [59]:
def test6(**kwargs): # if two ** are there, then it returns in the form of dictionary
    return kwargs # returns in the form of the dictionary
test6(a=34,b=True,c="India",d=[1,2,3,4,5])

{'a': 34, 'b': True, 'c': 'India', 'd': [1, 2, 3, 4, 5]}

In [54]:
# return the list from the values in the dictionary

In [63]:
def test7(**kwargs):
    for i in kwargs.keys():
        if type(kwargs[i])==list:
            return i,kwargs[i]
test7(a=4,b=[45,67,89],c=[67,45,32],d=True)

('b', [45, 67, 89])

In [64]:
# let's create a function which will take both the args and kwargs

In [66]:
def test9(*args,**kwargs):
    return args,kwargs
# if any key value pairs are there,they will be treated as arguments for the **kwargs

In [68]:
test9(2,3,45,a=100,b=200,c=[56,67,87,65,43,78],d="true")

((2, 3, 45), {'a': 100, 'b': 200, 'c': [56, 67, 87, 65, 43, 78], 'd': 'true'})