# Dynamic Typing

In [1]:
# In python ,no need to declare the integer type since compiler can understand at the time of compiling what data type is assigned to a variable

In [2]:
# here no need to declare data type while creating /declaring the variables

In [3]:
a=100

In [4]:
name='Lucky'

In [5]:
int(1.54)

1

In [7]:
float(100)

100.0

In [8]:
# Compiler automatically understand what data type is assigned.

In [9]:
int() # returns 0 if no argument is present

0

In [10]:
print(123)

123

In [12]:
age=45
print("My age is:",age)

My age is: 45

# f string  : String formatting

In [13]:
# string formatting means writing the variable name inside the string .So by formatting the string that variable will not be considered as a string
# original value of string will be displayed in the string

In [14]:
print(" My age is {age}")

 My age is {age}

In [15]:
print(f"My age is {age}")

My age is 45

# Format string

In [16]:
print("My age is {}".format(age))

My age is 45

In [17]:
name="indra"
age=32
height=150
salary=890000

In [18]:
print("{2} is doing job with salary  {0} and his age is {1} with height {3}".format(salary,age,name,150))

indra is doing job with salary  890000 and his age is 32 with height 150

In [19]:
# we can also use place holders here
print("{na} is doing job with salary  {sal} and his age is {a} ".format(sal=salary,a=age,na=name))

indra is doing job with salary  890000 and his age is 32

In [20]:
print("{} is doing job with salary  {} and his age is {} with height {}".format(name,salary,age,height))

indra is doing job with salary  890000 and his age is 32 with height 150

# Tuples

In [1]:
t=()

In [2]:
type(t)

tuple

In [3]:
t1=(1,2,3,1.89,567.78,"indra","mahi","raja",1+2j,True)

In [4]:
type(t1)

tuple

In [5]:
t1[1:]

(2, 3, 1.89, 567.78, 'indra', 'mahi', 'raja', (1+2j), True)

In [6]:
t1[::-1]

(True, (1+2j), 'raja', 'mahi', 'indra', 567.78, 1.89, 3, 2, 1)

In [7]:
t1.count(3)

1

In [8]:
t1.count(23)

0

In [9]:
t1.index(1.89) # gives index at where the value is  present

3

In [12]:
t1.index('mahi')

6

In [22]:
print(t1.index(True)) # internally the system stores the value of True as 1 so only it  given the O value
print(t1.count(1)) # here also True is counted as 1 so given 2

0
2

In [15]:
t2=(3,2,1,True) # for True wherever 1 is present it will give that index

In [16]:
t2.index(True)

2

In [19]:
t3=(3,2,"raja",True)  # Since here no 1 is present ,it gives the original index only

In [20]:
t3.index(True)

3

## Polymorphism

# Acting in a multiple ways based on the different kind of situations present

# Example of polymorphism
1. see here the + operators worked for strings ,integers and lists also
2. Depending on the data passed to the function ,the + operator worked in different ways

In [3]:
def test(a,b):
    return a+b

In [4]:
test(5,6)

11

In [5]:
test([1,2,3,4],[5,6,7,8])

[1, 2, 3, 4, 5, 6, 7, 8]

In [6]:
test("Phani","lucky")

'Phanilucky'

In [8]:
# this is the property of polymorphism

In [20]:
class data_science: # now we will create two different classes
    def syllabus(self):
        print("This is my method for data science syllabus")

In [21]:
class web_dev:
    def syllabus(self):
        print("This is my method for web development")

In [22]:
def class_parcer(obj_class): # here we will create one external function 
    for i in obj_class: # here we are able to access both the classes when loop is executing
        # when i is data_sci_obj ,it is able to access the method in it and when i is web_dev_obj, it is able to access the method in web_dev  .
        # so this function is acting as polymorphism by accessing both the methods depending on which object is passed in i
        i.syllabus()

In [23]:
data_sci_obj=data_science()

In [24]:
web_dev_obj=web_dev()

In [25]:
obj_class=[data_sci_obj,web_dev_obj] # add both the objects inside the list

In [26]:
class_parcer(obj_class)

This is my method for data science syllabus
This is my method for web development

# Duck Typing
 ## The name duck typing comes from the phrase that:" If it looks like a duck,walks like a duck then it is a duck "
 ### Simply here the function or method such as walking or quacking matters not the duck
1.It doesn't matter which class object we are passing,what matters is that object should have the method which is going to be executed.

In [2]:
class pycharm:
    def execute(self):
        print("Editor is pycharm")
class jupyter:
    def execute(self):
        print("Editor is the jupyter")
class Laptop:
    def code(self,ide):
        ide.execute()
ide=pycharm()
lap1=Laptop()
lap1.code(ide)

Editor is pycharm

In [3]:
ide=jupyter()
lap1=Laptop() # here whatever the object u may pass,but it should have the execute() method, then only it will works
lap1.code(ide)

Editor is the jupyter

In [5]:
# operator overloading
a=7
b=8
print(a+b) # for this behind the scenes the below line is geting executed where the int.__add__() is a built in method
print(int.__add__(a,b))

15
15

In [6]:
a="Indra"
b=" Lucky"

In [9]:
print(str.__add__(a,b)) # if passed arguments are strings then we have to give str in place of int
print(a+b)

Indra Lucky
Indra Lucky