#Let's start the python 
## Best data scientist in the world
### Be Patience .slowly u can learn it and do it
Beleive in yourself.All the powers is within you

## NUMBERS

# this is a single line comment
""" this is for multi line comment
line1
line2
line3
"""

In [25]:
1+2

3

In [2]:
print("Hello World")

Hello World

In [3]:
print(" I am a data scientist \n and I can do wonders")
# \n means go to the new line and start printing

 I am a data scientist
 and I can do wonders

In [6]:
# to print multiple lines use """   """ as shown
print("""This is India
here we have super powers
Indians are highly talented
""")

This is India
here we have super powers
Indians are highly talented

In [8]:
# print is an inbuilt function

## Variables and assignments

In [12]:
# " "  represents a string

In [10]:
type(" ") # gives str

str

In [11]:
type('')

str

In [13]:
name="indra"
age=24

In [15]:
 name # this gives only age value 
age

24

In [16]:
print(name)
print(age)

indra
24

In [17]:
#type() gives what type of data is present in the () like str or int or float

In [18]:
dec_num=4.56
print(dec_num)
print(type(5.6))

4.56
<class 'float'>

In [21]:
type(1+2j)

complex

In [22]:
comp_num=2+3j
print(comp_num)
print(type(comp_num))

(2+3j)
<class 'complex'>

In [23]:
# variables are case sensitive.EX- company and Company both are different.

In [26]:
# variables should not start with numbers and their names shouldn't be any  reserved keywords and no special characters allowed inside the variable

In [27]:
type(True)

bool

In [28]:
not True

False

In [29]:
type(not True)

bool

In [30]:
bool(0)

False

In [31]:
bool(1)

True

In [34]:
a=1
if bool(a)==True:
    print("It is True")

It is True

# Type Casting

In [35]:
# converting one data type to another data type

In [36]:
str(5) # converting integer 5 as string

'5'

In [37]:
int('23') # converting string 23 as integer 23

23

In [38]:
bool(0) # converting a number to boolean type.. only for 0 it is false

False

In [39]:
bool(45)

True

In [40]:
bool(-1) # only for 0 here false.remaning all it is fine

True