# Logical operators
1.and
2.or
3.not

In [1]:
not 45

False

In [2]:
not int(bool(0))

True

In [3]:
not False

True

In [4]:
bool(67)

True

In [5]:
# any number except 0 is considered as true only

In [1]:
bool(0)

False

In [2]:
int(45)

45

In [3]:
int(False)

0

In [4]:
bool(45)

True

In [5]:
int(bool(45))

1

In [6]:
True*False

0

In [17]:
not False*False # False * Flase is 0 and not 0 is True

True

In [8]:
not 0

True

In [9]:
not 1

False

In [12]:
not(True)*False # here True*False operates and evaluates to False and then performing not on it leads to True

True

In [11]:
(not(True)*False)

True

In [14]:
True*(not False)

1

In [16]:
True*True

1

In [18]:
# if we put not first then it will return either True or False only in the end result

In [19]:
# precedence also matters here

In [20]:
(not False)*True

1

In [21]:
1/0

ZeroDivisionError: division by zero

# Equality operators
is ,is not ,==,!=

In [26]:
list1=[1,2,3,4]
list2=[1,2,3,4]
print(id(list1))
print(id(list2))

1941859867264
1941859874624

In [30]:
list1 is list2 # here we have two lists with two different objects
# is will check whether the both are pointing to the same object or not

False

In [27]:
list3=list2 # here we are directly assigning the list2 object to the list3
print(id(list2))
print(id(list3))
list3 is list2

1941859874624
1941859874624

True

In [28]:
list1 is not list2

True

In [29]:
list1==list2 # checks whether both the lists have same values or not

True

In [31]:
a=2
b=2
print(id(a))
print(id(b))

1941776132432
1941776132432

In [32]:
# here only one value is assigned and that too same value
# so only both are having same id but lists are having different ids since they are collection of values

In [33]:
a is b

True

In [34]:
str1='indra'
str2='indra'

In [35]:
print(id(str1))
print(id(str2))

1941860706288
1941860706288

In [36]:
str1 is str2

True

# mutability and non mutability

In [37]:
# lists are mutable

In [38]:
# strings are immutable. we cannot the characters inside the string but we can replace the string itself

In [39]:
list1[0]

1

In [40]:
list1[0]=100 # here we are changing the list values

In [41]:
list1

[100, 2, 3, 4]

In [42]:
str1[2]

'd'

In [44]:
str1[2]='k' # gives error since strings are immutable

TypeError: 'str' object does not support item assignment

In [45]:
str1='phani'

In [46]:
str1

'phani'

# Binary operators

In [47]:
var=110
bin(var)

'0b1101110'

In [48]:
var2=10
~var2

-11

In [49]:
bin(var2)

'0b1010'

In [51]:
var>>2

27

In [52]:
var<<3

880

## Strings

In [53]:
str1='Indra'
str1.capitalize()

'Indra'

In [54]:
str1.upper()

'INDRA'

In [55]:
str1[-1:] # start from end and goes to end only

'a'

In [56]:
str1[-4:-2]

'nd'

In [58]:
str1[:-1] # read everything except the last character

'Indr'

In [61]:
str1[:] # gives entire string

'Indra'

In [63]:
str1[::]

'Indra'

In [69]:
str1[::-1] # here - means go in backward direction

'ardnI'

In [66]:
str2='India is my country'

In [67]:
str2[6::-1] # display last 6 characters in reverse

'i aidnI'

In [68]:
str2[6:3:-1]

'i a'

In [71]:
str2[2::-1] # start from 2  in reverse direction and display all in reverse

'dnI'

In [72]:
course_name='Data science Masters'

In [73]:
course_name[5:13]

'science '

In [74]:
course_name[13:5] # gives empty string since it cannot go reverse

''

In [75]:
course_name[13:5:-1] # start from 13

'M ecneic'

In [76]:
course_name.find('ta')

2

In [77]:
course_name.find('tat') # -1 means no found in the string

-1

In [78]:
course_name.find('z')

-1

In [79]:
course_name.find('a')

1

In [81]:
course_name.find('a',2,10)# in between 2 and 10 indexes

3

In [82]:
course_name.count('a') # finding the no of a 's  present in the course_name

3

In [83]:
course_name.count('e')

3

In [85]:
course_name.count('') # counts total no of characters

21

In [87]:
course_name.split(' ') # splits wherever the space is present. here the separator is the space

['Data', 'science', 'Masters']

In [89]:
course_name.split('a') # wherever a is present there it splits and prints the output
# here the separator won't be printed

['D', 't', ' science M', 'sters']

In [90]:
course_name.partition('s')

('Data ', 's', 'cience Masters')

In [91]:
# by using partition the separator which is mentioned also prints and partition will split at first occurence only 
# but in split wherever the separator is found it splits at all places

In [92]:
course_name.swapcase() # swapping lower into upper case and vice versa

'dATA SCIENCE mASTERS'

In [94]:
course_name.upper().count('N') # since course_name.upper() also gives string the end we can apply one more method on it as shown above

1