# Dynamic Typing

In [1]:
# In python ,no need to declare the integer type since compiler can understand at the time of compiling what data type is assigned to a variable

In [2]:
# here no need to declare data type while creating /declaring the variables

In [3]:
a=100

In [4]:
name='Lucky'

In [5]:
int(1.54)

1

In [7]:
float(100)

100.0

In [8]:
# Compiler automatically understand what data type is assigned.

In [9]:
int() # returns 0 if no argument is present

0

In [10]:
print(123)

123

In [12]:
age=45
print("My age is:",age)

My age is: 45

# f string  : String formatting

In [13]:
# string formatting means writing the variable name inside the string .So by formatting the string that variable will not be considered as a string
# original value of string will be displayed in the string

In [14]:
print(" My age is {age}")

 My age is {age}

In [15]:
print(f"My age is {age}")

My age is 45

# Format string

In [16]:
print("My age is {}".format(age))

My age is 45

In [17]:
name="indra"
age=32
height=150
salary=890000

In [18]:
print("{2} is doing job with salary  {0} and his age is {1} with height {3}".format(salary,age,name,150))

indra is doing job with salary  890000 and his age is 32 with height 150

In [19]:
# we can also use place holders here
print("{na} is doing job with salary  {sal} and his age is {a} ".format(sal=salary,a=age,na=name))

indra is doing job with salary  890000 and his age is 32

In [20]:
print("{} is doing job with salary  {} and his age is {} with height {}".format(name,salary,age,height))

indra is doing job with salary  890000 and his age is 32 with height 150

# control statements
## Decision making statements

In [21]:
lucky_age=23
if lucky_age>=18:
    print("Lucky is eligible to vote")
else:
    print("Lucky is not eligible to vote")

Lucky is eligible to vote

In [22]:
lucky_age=int(input("Enter the age of luucky:"))
if lucky_age>=18:
    print("Lucky is eligible to vote")
else:
    print("Lucky is not eligible to vote")

Enter the age of luucky:24
Lucky is eligible to vote

# Tuples

In [1]:
t=()

In [2]:
type(t)

tuple

In [2]:
t1=(1,2,3,1.89,567.78,"indra","mahi","raja",1+2j,True)

In [4]:
type(t1)

tuple

In [5]:
t1[1:]

(2, 3, 1.89, 567.78, 'indra', 'mahi', 'raja', (1+2j), True)

In [6]:
t1[::-1]

(True, (1+2j), 'raja', 'mahi', 'indra', 567.78, 1.89, 3, 2, 1)

In [7]:
t1.count(3)

1

In [8]:
t1.count(23)

0

In [9]:
t1.index(1.89) # gives index at where the value is  present

3

In [12]:
t1.index('mahi')

6

In [22]:
print(t1.index(True)) # internally the system stores the value of True as 1 so only it  given the O value
print(t1.count(1)) # here also True is counted as 1 so given 2

0
2

In [15]:
t2=(3,2,1,True) # for True wherever 1 is present it will give that index

In [16]:
t2.index(True)

2

In [19]:
t3=(3,2,"raja",True)  # Since here no 1 is present ,it gives the original index only

In [20]:
t3.index(True)

3

# Tuples are immutable

In [23]:
t1[2]=100

TypeError: 'tuple' object does not support item assignment

In [3]:
for i in t1:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
1.89 <class 'float'>
567.78 <class 'float'>
indra <class 'str'>
mahi <class 'str'>
raja <class 'str'>
(1+2j) <class 'complex'>
True <class 'bool'>

In [4]:
# Tuples are immutable . we want this kind of datatype so that in future we can make sure that no changes should be done to the data u added.

In [5]:
max(t1)

TypeError: '>' not supported between instances of 'str' and 'float'

In [7]:
#max and min also works for the tuples but data types should be compatible and proper

In [8]:
t1=(1,2,3)

In [9]:
t2=(4,5,6)

In [12]:
t3=(t1,t2) # tuples inside a tuple

In [11]:
t3

((1, 2, 3), (4, 5, 6))

In [13]:
# we can also insert a list into a tuple,tuple into a tuple as shown below

In [30]:
t3=((2,3,4,5),[9,7,6,4,33])

In [16]:
t3

((2, 3, 4, 5), [9, 7, 6, 4, 33])

In [17]:
# to delete a tuple

In [18]:
del t3

In [19]:
t3

NameError: name 't3' is not defined

In [20]:
len(t1)

3

In [21]:
5 in t1

False

In [22]:
'indra' in t1

False

In [23]:
2 in t1

True

[32, 3, 4, 5, 6, 7, 43, 567]

{1, 2, 3}

## if u want the uniqu

{34, 45, 56, 78, 87, 90}

TypeError: unhashable type: 'list'

{(43, 54, 67), 1, 2, 3, 4}